.main-form {
  margin: 40px;
}

.main-form > div {
  margin-block-start: 30px;
}

input {
  padding: 10px;
  border-radius: 10px;
  font-size: small;
}

label {
  font-size: large;
}

.main-form > button {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
